<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/landing.css">
	<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <link href="/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet"> <!--load all styles -->
</head>

<body>
    <div class="container">
      <div class="background">
        <img src="./photos/nastuh-abootalebi-ZtC4_rPCRXA-unsplash.jpeg" >
      </div>
      <!-- <div class="card text-center" >
        <img src="./photos/rayner-simpson-IdXShaU_UiA-unsplash.jpeg" class="card-img-top" alt="...">
      </div> -->
      <div>
        <img src="./photos/3121786D-C694-4BE2-AB9F-C965A9A29D87.JPG" style="max-width: 400px;" class="card-img-top" alt="...">
      </div>
      <p>
        <h1 style="color: blue;">ספיישל דיפנס 23 בע״מ</h1>
        <h2>חברה המתמחה במתן שירותי כח אדם במגוון משרות</h2>
        <h3 style="color: blue;">:משרדנו ממוקם בפתח תקווה ופעילותינו כוללת</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>שירותי ניקיון</b></li>
          <li class="list-group-item"><b>שירותי אחזקת מבנים</b></li>
          <li class="list-group-item"> <b>שירותי שמירה</b></li>
          <li class="list-group-item"><b>שירותים כלליים</b></li>
          <li class="list-group-item"><b>השמה וכח אדם לכל תחום</b></li>
        </ul>
        <br>
        <div style="font-size: large;">        <b>החברה משקיעה מאמצאים באיתור, מיון, הכשרה של עובדיה למטרת הצלחת החברה וסיפוק הלקוח</b>       
        </div>
        <br>
        <h3 style="color: blue;"><b>אנו מתחייבים בזאת כחברה למען הלקוח ועובדיה</b></h3>
        <ul class="list-group list-group-flush">
          <li  class="list-group-item"><b>יחס אישי ומקצועי</b></li>
          <li  class="list-group-item"><b>נאמנות ללקוח ולחברה</b></li>
          <li  class="list-group-item"><b>מתן תגובות מהירות לתקלות לשיפור השירות</b></li>
          <li  class="list-group-item"><b>יושר ואמינות בדיווח</b></li>
        </ul>
      </p>

      <div class="row">
        <div class="col">
          <i style="color: red;" class="fas fa-envelope-square fa-lg"></i>
          specialdefence23@gmail.com
        </div>
        <div class="col">
          <i style="color: red;" class="fas fa-mobile-alt fa-lg"></i>
          050-4848430 | 03-7483733
        </div>
        <div class="col">
          <i style="color: red;" class="fas fa-map-marker-alt fa-lg"></i>
          המגשימים 20 פתח תקווה
        </div>
      </div>
    </div>


</body>

<script src="app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

